* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  max-width: 100vw;
  max-height: 100vh;
}

.grafico {
  height: 220px;
  width: 400px;
  position: absolute;
  z-index: 999;
  right: 4px;
  bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
}

p {
  position: absolute;
  display: flex;
  align-items: center;
  top: 80px;
  left: 8px;
  z-index: 999;
}
